p Hi #{name},

p You will have received a separate email with your StoreLink username.  

p Password: #{password}

p If you experience any technical difficulties please contact HelpdeskTechnology System Support, 888-796-5282, Option 1

p Have a wonderful day! 

p StoreLink Support Team  
p  
   | Access StoreLink @ 
   a(href='https://storelink.starbucks.com')  https://storelink.starbucks.com    
p  
  | reset your 
  a(href='https://passwordreset.microsoftonline.com/?ru=https%3a%2f%2flogin.microsoftonline.com%2fafa5b002-c3aa-4396-bc20-42f973c5f5d1%2freprocess%3fctx%3drQIIAaVRPW_TQACVmxbRUCTEb4DR8fnOl-IIFlDj1HICiWI79oA439lNnLsz8rlJnYWJhZGRkQUJNsTUfwBTpSIhMSIGkPgBDAy4CzswPOnpfS2vp8-r6rHqGQZX6UlVEplWHUJpqhQtZFUWvLNeSFasVadxjPJ6-5p3-fu7Vx8HB08fnnx9s_ek_Vq7_VcbK2isVZaytCTVopBnmvZN0z5v7YWq_0f8snXVV2l5X_J6WixT-bx1SRHBIXjROtfo4NBmaCTicMKp6AMS2seudKsH4Rywwd2NOx3N3akrLkDRZEVFoEiIS0-OQDRzFywclbTGeQIBH4pIULm0XTGy_q0fZ4nTxwkKAK39Os4PzIveeBYA4gTHzOF5NJtwT_Q3dHDEhzCeNtk6gn7Dx3yY-_XkCL5t3SAZwQkAUKeIEN1CdldPKAS6BTN7H1GcYWaeNjGGIGKmqWfsFtIt0MV6gmGmgwx3U3PfIl2CzrbbP7e1lzvNWezK-aMfSe49o5_c3V_vb37YMbBdkPzQmW0ybsshzsEYl8peCRpHcezx-WId36NBBpaOfwf2zNPd_7r3Nw2&mkt=en-US&hosted=0&device_platform=Windows+7') password
p
  | update your 
  a(href='http://aka.ms/ssprsetup') security questions 
p
  | update your 
  a(href='http://aka.ms/ssprsetup') contact info
p HelpdeskTechnology System Support, 888-796-5282, Option 1
